/*!
 * Start Bootstrap - One Page Wonder (http://startbootstrap.com/template-overviews/one-page-wonder)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-one-page-wonder/blob/master/LICENSE)
 */

body {
    padding-top: 54px;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

header.masthead {
    background: url('../images/clinica4.png') no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header.masthead > .overlay {
    padding: 5rem 0;
    text-align: center;
    background: rgba(0, 50, 0, 0.5);
}
header.masthead2 {
    background: url('../images/doctors.png') no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
header.masthead3 {
    background: url('../images/lion.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
header.masthead2 > .overlay {
    padding: 5rem 0;
    text-align: center;
    background: rgba(0, 50, 0, 0.5);
}
header.masthead3 > .overlay {
    padding: 5rem 0;
    text-align: center;
    background: rgba(0, 50, 0, 0.5);
}
@media (min-width: 992px) {
    header.masthead > .overlay {
        padding: 10rem 0;
    }
}
@media (min-width: 992px) {
    header.masthead2 > .overlay {
        padding: 10rem 0;
    }
}
@media (min-width: 992px) {
    header.masthead3 > .overlay {
        padding: 10rem 0;
    }
}
h4 .modal-title{
    text-align: center;
}

